<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Control Page</title>
</head>

<body>
  <div id="admin" class="content">
    <h1>Votable Pokémon Control</h1>
    <p></p>
    <a href="index.html">Back to the Client Page</a>
    <p></p>
    <div class="add">
      <div class="form">
        Pokémon Name <input v-model="pokemon_name" placeholder="name">
        <p></p>
        Pokémon Image URL <input v-model="pokemon_URL" placeholder="URL">
        <button @click="addPoke()">Add Pokémon</button>
        <p></p>
      </div>
    </div>
    <h2>Current Pokémon Listed</h2>
    <div v-for="poke in pokemon">
      <p>
        <button @click="deletePoke(poke)">x</button>
        {{poke.title}} - votes {{poke.count}}
        <img width=75 height=75 :src="poke.URL" />
        <button @click="resetCount(poke)">reset</button>
      </p>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/admin.js"></script>
</body>

</html>